ESTILOS
body {
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.info-container {
    width: 100%;
    background: #f2f2f2;
}

.info-main {
    width: 98%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 30px 200px;
}

    .info-main h3 {
        color: #1a1a1a font-size 40px;
        text-align: center;
    }

    .info-main p {
        padding: 20px 0;
    }

    .info-main a {
        display: inline-block;
        background: #808080;
        color: #fff;
        text-decoration: none;
        padding: 12px 20px;
    }

footer {
    width: 100%;
}

.footer-container {
    width: 100%;
    background: #272727;
    color: #fff;
}

.footer-main {
    width: 98%;
    max-width: 1000px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

    .footer-main .footer-columna {
        width: calc(100% / 3);
        text-align: justify;
    }

        .footer-main .footer-columna:nth-child(2) {
            padding: 0 20px;
        }

        .footer-main .footer-columna h3 {
            font-size: 32px;
            color: #00C6EE;
            margin-bottom: 20px;
        }

        .footer-main .footer-columna input[type="email"] {
            border: none;
            width: 100%;
            border: 1px solid #00C6EE;
            font-size: 14px;
            padding: 10px;
        }

        .footer-main .footer-columna input[type="submit"] {
            border: none;
            background: #00C6EE;
            color: #fff;
            padding: 10px 40px;
            font-size: 18px;
            margin-top: 10px;
            cursor: pointer;
        }

        .footer-main .footer-columna p {
            display: inline-block;
            margin-left: 5px;
            margin-bottom: 5px;
            margin-right: 45px;
        }

.footer-main-div {
    width: 100%;
    height: auto;
    margin: auto;
    background: #808080;
    padding: 5px 0px;
}

.footer-social-icons {
    width: 100%;
    height: auto;
    margin: auto;
}

    .footer-social-icons ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

        .footer-social-icons ul li {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 0px 10px;
            border-radius: 100%;
            background: #272727;
        }

            .footer-social-icons ul li a {
                color: #fff;
                font-size: 25px;
            }

            .footer-social-icons ul li a {
                line-height: 50px;
            }

.footer-menu-one {
    width: 100%;
    height: auto;
    margin: auto;
}

    .footer-menu-one ul {
        margin: 0px;
        padding: 0px;
    }
